* {
    font-family: Roboto,serif;
}



body {
    background-color: #282828;
}

#title {
    text-align: center;
    color: #CD3333;


}


#obiwan_gif {
    display: block;
    margin : 5% auto 0 auto;
}

#intro {
    text-align: center;
    display: block;
    margin-top: 5%;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_buttons {
    margin-left: 10px;
    display: block;
    margin-top: 5%;
    width: 10%;
}

