* {
    font-family: Roboto,serif;
}



body {
    background-color: #282828;
}

#title {
    text-align: center;
    color: #3500D3;


}


#obiwan_gif {
    display: block;
    margin : 5% auto 0 auto;
}

#intro {
    text-align: center;
    display: block;
    margin-top: 5%;
    font-size: 18px;
    color: #F0FFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_buttons {
    margin-left: 10px;
    display: block;
    margin-top: 5%;
    width: 10%;
    background-color: #3500D3;
    color: #F0FFFF;
    border-style: solid;
    border-color: #3500D3;
}

.nav_buttons:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: #190061;
    border-color: #190061;
}

