* {
    font-family: Roboto,serif;
}



body {
    background-color: #252525;
}

#title {
    text-align: center;
    color: #CD3333;


}

#intro {
    text-align: center;
    font-size: 28px;
    display: block;
    margin-top: 5%;
}

#obiwan_gif {
    display: block;
    margin : 5% auto 0 auto;
}
