* {
    font-family: Roboto,serif;
}



body {
    background-color: #282828;
}

#title {
    text-align: center;
    color: #3500D3;


}


#obiwan_gif {
    display: block;
    margin : 5% auto 0 auto;
}

#intro {
    text-align: center;
    display: block;
    margin-top: 5%;
    font-size: 18px;
    color: #F0FFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_buttons {
    margin-left: 10px;
    display: block;
    margin-top: 5%;
    width: 10%;
    background-color: #3500D3;
    color: #F0FFFF;
    border-style: solid;
    border-color: #3500D3;
}

.nav_buttons:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: #190061;
    border-color: #190061;
}

a {
    text-decoration: none;
    color: #F0FFFF;
}


#about_title {
    color: #F0FFFF;
    text-align: center;
    display: block;
    margin-top: 5%;
    text-decoration: underline;
    text-decoration-color: #FF9900;
    text-decoration-width: 50px;

}

#IdDetails {
    color: #F0FFFF;

}
#id_part {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 5%;
    justify-items: center;


}





#about_hobbies {
    color: #F0FFFF;
    text-align: center;
    display: block;
    margin-top: 10%;
    text-decoration: underline;
    text-decoration-color: #FF9900;
    text-decoration-width: 50px;
}

#cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;


}

.card-item {
    background-color: #FF9900;
    text-align: center;
    height: 120px;
    line-height: 120px;
    font-weight: bold;


}

#contact_title {
    text-align: center;
    margin-top: 5%;
    color: #F0FFFF;
    text-decoration : underline;
    text-decoration-width: 20px;
    text-decoration-color: #70964B
;
}

#info_contact {
    color: #F0FFFF;
    text-align: center;
    font-size: 24px;
    margin-top: 10%;
}




