* {
    font-family: Roboto,serif;
}



body {
    background-color: #252525;
}

#title {
    text-align: center;
    color: #CD3333;


}



#obiwan_gif {
    display: block;
    margin : 5% auto 0 auto;
}

#intro {
    text-align: center;
    display: block;
    margin-top: 5%;
    font-size: 18px;
}

