<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link href="css/style.css" media="all" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="AboutContainer">
    <h2 id="about_title">{{ id }}</h2>

    <nav>
        <button class="nav_buttons"><a href="index.html">HOME</a></button>
        <button class="nav_buttons"><a href="about.html">ABOUT ME</a></button>
        <button class="nav_buttons"><a href="contact.html">CONTACT</a></button>

    </nav>

    <div id="id_part">
        <div v-for="info in infos" :key="info" id="IdDetails">
            {{ info }}

        </div>
    </div>

    <h2 id="about_hobbies">{{ hobbies }}</h2>

    <div  id="card">
        <div id="cardContainer">
            <div class="card-item" v-for="card in cards" :key="card">
                {{ card }}
            </div>
        </div>
    </div>


</div>





<script src="js/script.js" rel="script" type="text/javascript"></script>

</body>
</html>